@import "libs/reset";
@import "libs/variables";
@import "libs/mixins";

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 30px;
	font-weight: 400;
	overflow-x: hidden;
}

h1 {
	font-size: 36px;
	margin: 20px 0;
	font-weight: 700;
}

#list {
	margin-top: 30px;
}

.track {
	width: 100%;
	height: 600px;
	position: relative;
	border-bottom: 5px solid #000000;

	> img {
		position: absolute;
		bottom: 40px;
		right: -150px;
		z-index: 100;
		width: 600px;
		height: auto;
		transform: skewY(16deg);
	}

	.second-line {
		position: absolute;
		left: 0;
		bottom: 300px;
		width: 100%;
		height: 5px;
		background-color: #000000;
	}

	.start, .end {
		position: absolute;
		bottom: 10px;
	}

	.start {
		left: 0;
	}

	.end {
		right: 0;
	}
}

.racer {
	position: absolute;
	bottom: 50px;
	width: 350px;
	height: 250px;
	left: 0;
	transition: 1s;

	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	&.batman {
		z-index: 10;
	}

	&.human {
		z-index: 11;
	}

	&.nindze {
		z-index: 9;
		transform: scaleX(-1);
	}
}






